<section class="contact-section">
        <h2>Contact Me</h2>
        <div class="contact-info">
            <!-- Email Address -->
            <div>
                <a href="mailto:pratyushfunde6@gmail.com">
                    <i class="fas fa-envelope"></i><span>pratyushfunde6&#64;gmail.com</span> 
                </a>
            </div>
            
            <!-- Phone Number -->
            <div>
                <a href="tel:+1234567890">
                    <i class="fas fa-phone"></i>+91 9175729133
                </a>
            </div>
            
            <!-- LinkedIn Profile -->
            <div>
                <a href="https://www.linkedin.com/in/pratyush-funde-254270316/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn Profile
                </a>
            </div>
        </div>
    </section>