<!-- <app-header></app-header> -->
<section class="home">
    <div class="name">

        <div class="para">

            <p>Hi,I am</p>
            <!-- <hr> -->
            <p>Pratyush</p>
            <p>Funde</p>
        </div>
        <!-- <div class="resume"></div> -->

        <div class="download_button">

            <a href="https://drive.google.com/file/d/10Qkw8lE3yqizJIioZHadoe8fT3OwcIFl/view?usp=sharing" target="_blank" class="button-23">Download Resume</a >
        </div>
    </div>
    <!-- <img src="../../../assets/images/photo.jpg" alt=""> -->
</section>
<!-- <app-footer></app-footer>   -->