<section class="profile-section">
    <h2>My Profile</h2>
    <div class="profile-container">
        <!-- Profile Picture -->
        <img src="../../../assets/images/photo.jpg" alt="Profile Picture">

        <!-- Profile Description -->
        <p class="profile-description">
            Hello, I'm Pratyush Sambhaji Funde, a passionate web developer with a
            love for creating dynamic and responsive websites.
            I specialize in front-end technologies, including HTML, CSS,
            JavaScript, and Angular. I'm always looking to learn new skills
            and collaborate with others to build innovative projects.
        </p>

        <!-- Skills Section -->
        <div class="skills">
            <div class="skill">HTML</div>
            <div class="skill">CSS</div>
            <div class="skill">JavaScript</div>
            <div class="skill">TypeScript</div>
            <div class="skill">React</div>
            <div class="skill">Node.js</div>
            <div class="skill">Git</div>
            <div class="skill">Angular</div>
        </div>
    </div>
</section>