<section>
    <div class="card-container">
        <div class="card">
            <h2>B.E. Computer Engineering <span></span></h2>
            <h3>Year : <span>2025</span></h3>
            <h3>Location: <span>PES Modern College of Engineering , SPPU</span></h3>
            <h3>CGPA: <span>7.9</span></h3>
        </div>
        <div class="card">
            <h2>HSC <span></span></h2>
            <h3>Year : <span>2021</span></h3>
            <h3>Location: <span>DES's Willingdon College, Sangli</span></h3>
            <h3>Marks: <span>94.67%</span></h3>
        </div>
        <div class="card">
            <h2>SSC <span></span></h2>
            <h3>Year : <span>2019</span></h3>
            <h3>Location: <span>DES's K.P.S.P School, Sangli</span></h3>
            <h3>Marks: <span>90.40%</span></h3>
        </div>
        
        <!-- <p>&#8594;</p> -->
    </div>
</section>